<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XMapmatchTestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <XMapmatchTestClient.Properties.Settings>
      <setting name="HereAppId" serializeAs="String">
        <value />
      </setting>
      <setting name="HereAppCode" serializeAs="String">
        <value />
      </setting>
      <setting name="Token" serializeAs="String">
        <value />
      </setting>
      <setting name="XMapProfile" serializeAs="String">
        <value>silkysand</value>
      </setting>
      <setting name="XMapUrl" serializeAs="String">
        <value>http://localhost:50010/xmap/ws/XMap</value>
      </setting>
      <setting name="XRouteProfile" serializeAs="String">
        <value>$carmatch</value>
      </setting>
      <setting name="XRouteUrl" serializeAs="String">
        <value>http://localhost:50030/xroute/ws/XRoute</value>
      </setting>
      <setting name="XMapmatchProfile" serializeAs="String">
        <value>local-matching</value>
      </setting>
      <setting name="XMapmatchUrl" serializeAs="String">
        <value>http://localhost:50040/xmapmatch/ws/XMapmatch</value>
      </setting>
      <setting name="XLocateProfile" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="XLocateUrl" serializeAs="String">
        <value>http://localhost:50020/xlocate/ws/XLocate</value>
      </setting>
      <setting name="ProxyUri" serializeAs="String">
        <value />
      </setting>
    </XMapmatchTestClient.Properties.Settings>
  </userSettings>
</configuration>